<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/utils.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/' + file + '.css')}}">
    <title>Medicords - {{title}}</title>
</head>

<body>

    {% block body %}
    {% endblock %}

    <script src="https://kit.fontawesome.com/331070958d.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>